@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
	/* colors */
	--clr-primary-dark: #020183;
	--clr-primary-light: #426ae4;
	--clr-secondary-dark: #e36d00;
	--clr-secondary-light: #ff9d3a;

	/* neutrals */
	--clr-light: #ffffff;
	--clr-dark: #0000;
	--clr-grey-3: #828282;
	--clr-grey-5: #e0e0e0;

	/* fonts */
	--ff-main: "Montserrat", sans-serif;
	--fw-body: 400;
	--fw-heading: 700;
}

/* resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* STYLES FOR LOGIN PAGE STARTS HERE */
body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
font-family: var(--ff-main);
font-weight: var(--fw-body);
}

.cont{
	margin: 20px auto;
	max-width: 1140px;
	width: 100%;
	padding: 1.4rem 5rem;
	display: flex;
	flex-direction: column;
	ustify-content: center;
	gap: 30px;

}

.logo{
	width: 250px;
}

.right-image{
	background-color: #040457;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 300px;
	padding: 5rem;
	border-radius: 5px;
}

.misc-image{
	width: 150px;
}

.navbar{
display: flex;
justify-content: space-between;
}

.sign-up{
	background-color: #426ae4;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	font-size: .6rem;
	padding: 10px 20px;
	cursor: pointer;
	font-weight: var(--fw-heading);
}

.login-section{
	display: flex;
	justify-content: space-between;
	gap: 5rem;
}

.login-page{
	background-color: #E0E0E0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
	gap: 20px;
}

.right-section{
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.sm{
	display: flex;
	gap: .6rem;
}
.social-media{
	width: 1rem;
}
.facebook{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .8rem;
	background-color: #426ae4;
	color: #ffffff;
	padding: 5px 10px;
	gap: .4rem;
	font-weight: var(--fw-heading);
	border-radius: 5px;
	cursor: pointer;
}

.google{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .8rem;
	background-color: #ffffff;
	color: #426ae4;
	padding: 5px 10px;
	gap: .4rem;
	font-weight: var(--fw-heading);
	border: 1px solid #426ae4;
	border-radius: 5px;
	cursor: pointer;
}

.details{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

input{
	width: 300px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #1d1b1b;
	color: #828282;
	font-size: .7rem;
}

.checkbox{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .8rem;
	gap: 5px;

}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	border: 2px solid #000;
}

.login-btn{
	padding: 5px 3px;
	width: 6.2rem;
	height: 1.8rem;
	align-self: center;
	background-color: #426ae4;
	color: #ffffff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: .8rem;
	font-weight: var(--fw-heading);
}

.misc{
	font-size: .8rem;
}

a{
text-decoration: none;
color: #426ae4;
}

h6, h4{
	color: #1d1b1b;
}


/* THIS ACTIVE STATE STYLES AFFECTS THE PAGE WHEN ANY PART OF THE PAGE IS CLICKED */
/* a:hover, :focus, :active{
	color: #e0e0e0;
} */

.return-home{
	background-color: #426ae4;
	color: #ffffff;
	border: none;
	width: 11rem;
	align-self: center;
	padding: 4px 0;
	border-radius: 3px;
	cursor: pointer;
	font-weight: var(--fw-heading);
}

.logo2{
	width: 250px;
	align-self: center;
}




/* REASON FOR COMMENTING: THIS AFFECTED MY ANCHOR TAG COLOR 
a,
a:hover,
a:active,
a:focus {
	color: inherit;
	text-decoration: none;
	outline: none;
} */

ul,
ol,
dl {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--fw-heading);
	line-height: 2;
}

body {
	position: relative;
	font-family: var(--ff-main);
	font-weight: var(--fw-body);
	line-height: 1.6;
	min-height: 100dvh;
	overflow-x: hidden;
	font-size: 1rem;
}

/* globals */
.container {
	margin: 0 auto;
	max-width: 1140px;
	width: 100%;
	padding-inline: 1rem;
}

.flex {
	display: flex;
	gap: 1rem;
}

.btn {
	padding: 10px 15px;
	border-radius: 4px;
	border: none;
	background: transparent;
	display: inline-flex;
	justify-content: center;
	gap: 0.5rem;
	border: 0.1rem solid transparent;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
	transition: 0.5s ease-in-out;
}

.btn-primary,
.btn-static-primary {
	background: var(--clr-primary-dark);
	border-color: var(--clr-primary-dark);
	color: var(--clr-light);
	font-weight: var(--fw-heading);
	font-size: 0.8rem;
}

.btn-primary:hover {
	background: var(--clr-light);
	color: var(--clr-primary-dark);
}

.btn-primary:hover {
	background: var(--clr-light);
	color: var(--clr-primary-dark);
}

.btn-outline-primary {
	background: var(--clr-light);
	border-color: var(--clr-primary-dark);
	color: var(--clr-primary-dark);
	font-weight: var(--fw-heading);
	font-size: 0.8rem;
}

.btn-outline-primary:hover {
	background: var(--clr-primary-dark);
	color: var(--clr-light);
}

.btn-icon {
	height: 1rem;
}
